    <main class="container-fluid main p-0">
        <!-- SECTION NO 1 -->
        <section class="container-fluid section-1">
            <div class="row section-1-inner">
                <div class="col section-1-inner-col">
                    <div class="image-frame mx-auto my-5">
                    </div>
                </div>
            </div>
        </section>


        <!-- SECTION NO 2 -->
        <section id="about-me" class="container-fluid section-2">
            <div class="row">
                <div class="col text-center">
                    <div class="primary-heading">
                        Creative <span class="fw-bold primary-heading-bold">Work</span>
                    </div>
                    <div class="paragraph mx-auto mt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vitae debitis velit maxime
                        facilis quae maiores optio ut eveniet, aspernatur, cupiditate saepe consequuntur cumque
                        distinctio, error itaque ipsum sunt assumenda!
                    </div>
                    <a type="button" class="section-2-button fw-bold">Read More</a>
                </div>
            </div>
        </section>


        <!-- SECTION NO 3 -->
        <section class="container-fluid section-3">
            <div class="row section-3-inner">
                <div class="col-lg-6 section-3-inner-col-left text-center">
                    <div class="primary-heading section-3-heading text-lg-end">
                        I Am <span class="fw-bold">Designer</span>
                    </div>
                    <div class="section-3-image-left text-lg-end">
                        <img src="./images/Section-3-image-1.jpg" class="img-fluid sec3-images sec3-img-left" alt="">
                    </div>
                </div>
                <div class="col-lg-6 section-3-inner-col-right text-center mt-5 mt-lg-0">
                    <div class="section-3-image-right text-lg-start">
                        <img src="./images/Section-3-image-2.jpg" class="img-fluid sec3-images sec3-img-right" alt="">
                    </div>
                    <div class="section-3-button-right text-lg-start">
                        <button class="sec3-btn-right text-uppercase fw-bold" onclick="location.href='#'">
                            Read More
                        </button>
                    </div>
                </div>
            </div>
            <div class="background-section-3"></div>
        </section>


        <!-- SECTION NO 4 -->
        <section class="container-fluid section-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-4-left text-center text-lg-end pe-0 pe-lg-5">
                        <span class="section-4-heading text__light">We</span>
                        <span class="section-4-heading text__light">Build</span>
                        <span class="section-4-heading-bold fw-bolder">Digital</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-4-right text-center text-lg-start">
                        <div class="sec4-blank"></div>
                        <div class="sec4-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus est dolor iure voluptates.
                            Facere nostrum porro, velit veniam, architecto veritatis, libero a repellat quod quas atque
                            totam accusamus obcaecati delectus dicta! Suscipit ratione qui, nihil voluptates error
                            distinctio optio doloremque?
                        </div>
                        <div class="section-4-button">
                            <button class="sec4-btn text-uppercase fw-bold" onclick="location.href='#'">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Divider -->
        <div class="bold-line"></div>


        <!-- SECTION NO 5 -->
        <section id="my-portfolio" class="container-fluid section-5">
            <div class="row">
                <div class="col">
                    <div class="section-5-text text-center mx-auto">
                        We Design People Inspired Experiences That Create Positive Change In People's Lives.
                    </div>
                    <div class="section-5-icon text-center">
                        <i class="bi bi-chevron-double-down sec5-icon"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="sec5-portfolio-head">
                        View Portfolio
                    </div>
                </div>
            </div>
